<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Time Machine {{.Pid}}</title>
		<link rel="icon" href="data:,">
		<style>
			label {
				display: inline-block;
				line-height: 2;
				min-width: 20ex;
			}
			input[type=number] {
				text-align: right;
			}
		</style>
	</head>
	<body>
		<h1>Time Machine {{.Pid}}</h1>
		<p>{{.Command}}</p>
		<p>
			<form action="{{.Pid}}" method="post">
				<p>
					<div>
						<label for="method_raw"><strong>Raw</strong></label>
						<input id="method_raw" type="radio" name="method" value="raw" {{if eq .Method "raw"}}checked{{end}}/>
					</div>
					<div>
						<label for="value">Seconds</label>
						<input id="value" name="value" type="number" value="{{.Value}}"/>
					</div>
				</p>
				<p>
					<div>
						<label for="method_units"><strong>Units</strong></label>
						<input id="method_units" name="method" type="radio" value="units" {{if eq .Method "units"}}checked{{end}}/>
					</div>
					<div>
						<label for="sign">Sign</label>
						<select id="sign" name="sign">
							<option value="1" {{if eq .Sign 1}}selected{{end}}>+</option>
							<option value="-1" {{if eq .Sign -1}}selected{{end}}>-</option>
						</select>
					</div>
					<div>
						<label for="weeks">Weeks</label>
						<input id="weeks" name="weeks" type="number" value="{{.Weeks}}"/>
					</div>
					<div>
						<label for="days">Days</label>
						<input id="days" name="days" type="number" value="{{.Days}}"/>
					</div>
					<div>
						<label for="hours">Hours</label>
						<input id="hours" name="hours" type="number" value="{{.Hours}}"/>
					</div>
					<div>
						<label for="minutes">Minutes</label>
						<input id="minutes" name="minutes" type="number" value="{{.Minutes}}"/>
					</div>
					<div>
						<label for="seconds">Seconds</label>
						<input id="seconds" name="seconds" type="number" value="{{.Seconds}}"/>
					</div>
				</p>
				<p>
					<div>
						<label for="method_datetime"><strong>Date and time</strong></label>
						<input id="method_datetime" type="radio" name="method" value="datetime" {{if eq .Method "datetime"}}checked{{end}}/>
					</div>
					<div>
						<label for="date">Date</label>
						<input id="date" name="date" type="date" value="{{.Date}}"/>
					</div>
					<div>
						<label for="time">Time</label>
						<input id="time" name="time" type="time" value="{{.Time}}"/>
					</div>
				</p>
				<p>
					<input type="reset"/>
					<input type="submit"/>
				</p>
			</form>
		</p>
	</body>
</html>
